*{
  margin: 0;
  padding: 0;
}
#header{
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
}


ul{
  display: flex;
  justify-content: end;
  /* border: 2px solid red; */
  background-color: black;
  color: white;
}

li{
  list-style: none;
  padding: 10px;
}

section{
  height: 600px;
  background-color: whitesmoke;
}
h1{
  width: 350px;
  margin: auto;
  color: black;
  font-size: 2rem;
  position: relative;
  top: 50%;
}